.contact-bg {
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.interior-bg-img {
  background: url("./assets/interior.png");
  background-repeat: no-repeat;
  background-size: cover;
}
